/*//META{"name":"Act","description":"🎨 Acta / Aron's Personal Discord Theme —————————— @tomato#5185 Now with auto-updater! To get the latest version, restart Discord or wait for a short while.","author":"Acta / Aron","version":"1.4.5","update_url":"https://actarr.github.io/Act/release/Act.theme.css","website":"https://github.com/Actarr/Act"}*//**/
@import url("https://actarr.github.io/Act/release/core.css");
@import url("https://actarr.github.io/Act/release/importURLs.css");
@import url("https://actarr.github.io/Act/release/settingsIcons.css");

/* PRIVATE SKIN -- NOT TO BE DISTRIBUTED AS OF YET
CHANGELOG-- actarr.github.io/Act/text/changelog.txt
CREDIT -- actarr.github.io/Act/text/credit.txt */

:root { --backgroundColor: rgba(6,6,6,1);  
--backgroundImage: url('https://i.imgur.com/vKkhSls.png');  
--backgroundImageOpacity: 0.25;  
--homeButtonImage: url('https://bit.ly/ACTALogo');  
--textLinks: rgba(0,255,221,1);  
--uiGradient1: rgba(255,0,255,1);  
--uiGradient2: rgba(0,255,255,1);  
--customFont: sce-ps3_rodin_latinregular}
