/* ACT THEME RANDOM CSS BITS / AUTO UPDATER */

html *{ font-family: sce-ps3_rodin_latinregular !important}

.colorMuted-HdFt4q.size12-3cLvbJ:first-child:after {
  content: "Act 1.2.6.3-r (Update 33)";
  display: block;
}
.wordmark-2iDDfm
{
    opacity: 0;
}
.container-1D34oG,
.nowPlayingColumn-2sl4cE {
    background: none  !important; }

.wrapper-1cBijl,
.scrollableContainer-2NUZem.webkit-HjD9Er {
    background: #121212 !important; }

.downloadButton-23tKQp{
    color:  #F1F1F1 !important;
}

.actions-1SQwjn {
  all: unset;
  height: 4320px;
  width: 0px;
}
