/* ACT THEME RANDOM CSS BITS / AUTO UPDATER */

html *{ font-family: sce-ps3_rodin_latinregular !important}

/* info box theme tab */
#bd-settingspane-container .content-column.default .bda-slist::before { 
white-space: pre;
content: "Using -Act- Theme\a Changelog: https://actarr.github.io/Act/text/changelog.txt\a \a@tomato#5185 — for questions or reports" !important;
text-shadow: 1px 1px #5f5f5f;
color: #fff !important; }

.colorMuted-HdFt4q.size12-3cLvbJ:first-child:after {
  content: "Act 1.2.6.3-r (Update 33)";
  display: block;
}

.container-1D34oG,
.nowPlayingColumn-2sl4cE {
    background: none  !important; }

.wrapper-1cBijl,
.scrollableContainer-2NUZem.webkit-HjD9Er {
    background: #121212 !important; }

.wordmark-2iDDfm,
.container-1r6BKw .icon-22AiRD[name="Nova_Help"],
.actions-1SQwjn{
 display: none
}

