@import url("https://bdsources.github.io/sourcecheck/vars.css");
:root { 
--textNormal: rgba(255,255,255,1);  
--textMuted: #72767d;  
--textLinks: rgba(0,255,221,1);  
--channelsDefault: rgba(194,194,194,1);  
--channelsHover: rgba(255,255,255,1);  
--channelsMuted: #7d7d7d;
}
