:root { 
--textNormal: rgba(255,255,255,1);  
--textMuted: #72767d;  
--channelsDefault: rgba(194,194,194,1);  
--channelsHover: rgba(255,255,255,1);  
--channelsMuted: #7d7d7d;
}

html *{ font-family: sce-ps3_rodin_latinregular !important}










/* VERSION NUMBER ALERTS */
#user-settings nav[class^="sidebar-"] > div > div[class^="info"]:last-child > div:first-child::before {
  content: 'Act 1.4.6-R (Update 46)';
}

#bd-settingspane-container .content-column.default .bda-slist::before { 
white-space: pre;
content: "Using -Act- Theme (v1.4.6)\a Changelog: https://actarr.github.io/Act/text/changelog.txt\a \a@tomato#5185 — for questions or reports" !important;
text-shadow: 1px 1px #5f5f5f;
color: #fff !important; }
