:root { 
--textNormal: #fff
--textMuted: #72767d;  
--textGray: #2c2c2c
--channelsDefault: rgba(194,194,194,1);  
--channelsHover: rgba(255,255,255,1);  
--channelsMuted: #7d7d7d;
}

/* Font */
html *{ font-family: sce-ps3_rodin_latinregular !important}

/* Colors */
.edited-3sfAzf{font-size:10.5px; color:#aaa}
.latin24CompactTimeStamp-2V7XIQ.timestamp-3ZCmNB{font-size:9px;padding-right:2px;color:#ccc}

/* COZY MODE CHAT UI */
div[class*="cozyMessage"][class*="groupStart"] {
  margin-top: 40px!important; position: relative;}

/* Remove message highlight & timestamp */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] {
  background-color: transparent;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"] + div[class*="cozyMessage"][class*="groupStart"] {
  margin-top: -12px!important;}

.latin24CompactTimeStamp-2V7XIQ.timestamp-3ZCmNB.timestampVisibleOnHover-2bQeI4.alt-1uNpEt{display:none;}

/* Dividers */
div[class*="cozyMessage"][class*="groupStart"]::after {
  content: ""; position: absolute; top: -20px; left: 20px; right: 20px; border-bottom: thin solid var(--background-modifier-accent);}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"] {
  margin: 20px 20px!important; top: 0; height: 12px; border-top: 0;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"] > span[class*="content"] {
  font-size: 14px; line-height: 22px; padding: 0 12px; background-color: #2c2c2c;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"] > span::before {
  content: ""; position: absolute; width: 100%; top: 75%; left: 0; height: 0.5px; background-color: var(--background-modifier-accent); z-index: -1;}

/* New messages */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"][class*="isUnread"] > span[class*="unreadPill"]::after {
  font-size: 10.5px; white-space: pre; content: " UNREAD MESSAGES";}

.unreadPill-2HyYtt{font-size:10.5px; padding: 0 8px}

/* Mentions/ role mentions */
div[class*="cozyMessage"][class*="mentioned"] > div[class*="contents"] > div[class*="markup"] {
  background-color: rgba(255,165,0,0.15)!important; padding: .1rem .2rem!important; padding-left: calc(6px + .2rem)!important; margin-left: -8px!important;}

div[class*="cozyMessage"] > div[class*="contents"] > h2[class*="header"] span[class*="timestamp"] {
  margin-left: .15rem;}

div[class*="cozyMessage"] > div[class*="contents"] img[class*="avatar"] {
  width: 40px; height: 40px; top: 4px; left: 1.65rem; -webkit-user-drag: none; }

div[class*="cozyMessage"] > div[class*="contents"] img[class*="avatar"]:hover {
  opacity: .8;}

/* Text Padding */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="cozyMessage"] {
  padding: 0; padding-left: 80px; padding-right: 10px;}

/* Reaction Buttons */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="buttonContainer"] > div[class*="buttons"] {
  padding-right: 10px; padding-left: 0; top: 0;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="cozyMessage"] > div[class*="buttonContainer"] > div[class*="buttons"][class*="isHeader"] {
  top: 1.375rem;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="buttonContainer"] > div[class*="buttons"] > div[class*="wrapper"] {
  height: 1.375rem; background-color: transparent; box-shadow: none; display: flex; align-items: flex-start;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="buttonContainer"] > div[class*="buttons"] > div[class*="wrapper"] > div[class*="emojiButton"],
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="buttonContainer"] > div[class*="buttons"] > div[class*="wrapper"] > div[class*="emojiSeparator"] {
  display: none;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="buttonContainer"] > div[class*="buttons"] > div[class*="wrapper"] > div[class*="button"] {
  height: 1rem; width: 1rem; min-width: 1rem; padding: 0; background-color: transparent!important;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="buttonContainer"] > div[class*="buttons"] > div[class*="wrapper"] > div[class*="button"] svg {
  height: 1rem; width: 1rem;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="buttonContainer"] > div[class*="buttons"] > div[class*="wrapper"] > div[class*="button"]:last-child svg {
  transform: rotate(90deg);}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="contents"] > div[class*="markup"]::before {
  content: ""; width: 2rem; height: 1rem; display: inline-flex; float: right;}

/* Embeds */
div[class*="cozyMessage"] > div[class*="container"]:not([class*="button"]) {
  padding-top: 8px; padding-bottom: 8px; grid-row-gap: 8px;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] div[class*="reactions"] {
  margin-left: -2px;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] div[class*="reactions"] > div > div[class*="reaction"] {
  border-radius: 3px; margin: 2px;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] div[class*="reactions"] > div > div[class*="reaction"] > div[class*="reactionInner"] {
  padding: 0 6px;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] div[class*="reactions"] > div > div[class*="reaction"] > div[class*="reactionInner"] > img {
  margin: 3px 0;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] div[class*="reactions"] > div > div[class*="reaction"] > div[class*="reactionInner"] > div[class*="reactionCount"] {
  margin-left: 6px;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] div[class*="reactions"] > div > div[class*="reactionBtn"] {
  margin-left: 6px;}

/* Clyde bot messages */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"][class*="localBot"]::before {
  top: -20px; bottom: -20px; width: 150%; background: linear-gradient(30deg, #1e1e1e -40%,transparent 50%); z-index: -1;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"][class*="localBot"] div[class*="localBotMessage"] {
  margin-top: 0; margin-bottom: -8px;}

.localBotMessage-3cUzun{color: #BEBEBE}

/* Appearance user Settings */
#user-settings div[class^="contentRegion"] main[class^="contentColumn"] div[class^="children"] > div[class^="preview"] div[class*="compact"][class*="firstMessage"]  {
  margin-top: 0!important;}

#user-settings div[class^="contentRegion"] main[class^="contentColumn"] div[class^="children"] > div[class^="preview"] div[class*="message"][class*="firstMessage"]::after {
  display: none;}

#user-settings div[class^="contentRegion"] main[class^="contentColumn"] div[class^="children"] > div[class^="preview"] > div[class*="message"] {
  padding: 0; padding-left: 80px;}

#user-settings div[class^="contentRegion"] main[class^="contentColumn"] div[class^="children"] > div[class^="preview"] ~ h2[class^="h2"][class*="marginTop60"] ~ div:not([class]) + div[class^="marginTop20"] > h5::after {
  content: "(USE 16px OR THEME MAY NOT WORK AS INTENDED)"; color: var(--textLinks); margin-left: 96.96px;}



/* COMPACT MODE CHAT UI */
div[class*="compact"][class*="groupStart"] {
  margin-top: 20px!important; position: relative;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"] + div[class*="compact"][class*="groupStart"] {
  margin-top: 0px!important;}

div[class*="compact"][class*="groupStart"]::after {
  content: ""; position: absolute;top: -10px; left: 20px; right: 20px; border-bottom: thin solid var(--background-modifier-accent);}

/* Dividers */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="compact"] + div[class*="divider-"] {
  margin: 10px 20px!important;}

/* Mentions */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="mentioned"][class*="compact"] {
  background-color: var(--background-mentioned)!important;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="mentioned"][class*="compact"]::before {
  display: none;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="compact"] {
  padding: 0; padding-left: 80px; padding-right: 10px;}

/* Embeds & Reactions */
div[class*="compact"] > div[class*="container"]:not([class*="button"]) {
  padding-top: 6px; padding-bottom: 6px; grid-row-gap: 6px;}

/* Clyde */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="compact"][class*="localBot"]::before {
  top: -10px; height: calc(100% + 20px);}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="groupStart"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]):not([class*="wrapper"]) {
  margin-top: 20px;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="groupStart"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]):not([class*="wrapper"])::after {
  top: -10px;}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="groupStart"][class*="expanded"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]):not([class*="wrapper"])::before {
  top: -10px; height: calc(100% + 20px);}

/* VERSION NUMBER ALERTS */
#user-settings nav[class^="sidebar-"] > div > div[class^="info"]:last-child > div:first-child::before {
  content: 'Act 1.6-R (Update 48)';}

#bd-settingspane-container .content-column.default .bda-slist::before { 
white-space: pre; content: "Using -Act- Theme (v1.6)\a Changelog: 1.6 (BIG) - Again, redid some CHAT UI; Added COMPACT Mode Support\a \a@tomato#5185 — for questions or reports" !important; text-shadow: 1px 1px #5f5f5f; color: #fff !important;}
